/data/output/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Binary & Visual Studio files
# *.sqlite
*.rsuser
*.suo
*.user
*.userosscache
*.sln
*.sln.docstates
.vs/
VSWorkspaceState.json
*.pyproj
/.vscode/launch.json
/.pytest_cache/*

# Visual Studio Code
.vscode/

# Geoprocessing tool metadata
*.pyt.xml

*.lock